* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: whitesmoke;
}


/* HEADER */

#header {
    position: fixed;
    top: 0;
    height: 3em;
    width: 100%;
    background: white;
    animation-duration: 1s;
    animation-name: appearing;
    display: flex;
    z-index: 2;
}

@keyframes appearing {
    from {
        margin-top: -10%;
    }
    to {
        margin-top: 0%;
    }
}

.logo {
    margin-right: auto;
    margin-left: 10%;
    width: 115px;
    height: 33px;
    margin-top: auto;
    margin-bottom: auto;
}


/* MENU PANEL */

#panel {
    margin-left: auto;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.bell {
    opacity: 0.6;
}

.bell:hover {
    opacity: 1;
}

.account-logo {
    opacity: 0.6;
    border-radius: 100%;
    background: #512DA8;
    border-style: none;
    font-size: 15px;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 3px 6px;
}

.account-logo:hover {
    opacity: 1;
}

.nav {
    display: none;
    width: 0;
    z-index: 2;
}

#isexpanded {
    display: none;
    margin-top: 0;
}

#isexpanded:checked~* .nav {
    display: block;
    margin: auto;
}

.nav-menu {
    background-color: white;
    width: 10em;
}

.nav-menu p,
.nav-menu a {
    padding: 0.5em;
}

.user-name {
    color: grey;
    text-align: center;
}

.nav-menu-item {
    display: block;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

#header+#content {
    margin-top: 3em;
}


/* CONTENT */

#content {
    display: grid;
    background-color: whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(8, 12.5%);
    justify-content: center;
    gap: 0;
}


/* CARDS */

.card-preview {
    color: white;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    background-color: whitesmoke;
    height: 100%;
    color: black;
    font-weight: bolder;
    font-size: x-large;
    padding: 5%;
}

.flip-card-2d {
    perspective: none;
}

.flip-card-3d {
    perspective: 600px;
    z-index: 1;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.flip-card-inner:hover {
    transform: rotateY(180deg);
}

.flip-card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.bs-card {
    grid-area: 1/1/5/5;
}

.bs-preview {
    display: block;
}

.bs-content {
    transform: rotateY( 180deg);
    display: flex;
}

.centered-content {
    align-items: center;
    justify-content: center;
}

#join-btn {
    background-color: #2067f5;
    color: white;
    border: none;
    width: 25%;
    height: 12%;
    opacity: .8;
    cursor: pointer;
}

#join-btn:hover {
    opacity: 1;
}

.js-card {
    grid-area: 1/5/7/9;
}

.js-preview {
    background-color: #f0db4f;
    color: #323330;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: bolder;
}

.js-content {
    transform: rotateY( 180deg);
}

.php-card {
    grid-area: 1/9/4/17;
}

.php-preview {
    background-color: #8a93bc;
    color: black;
    font-style: italic;
    /* font-family: 'Handel Gothic'; */
}

.qa-card {
    grid-area: 5/1/9/5;
}

.qa-preview {
    background-color: #70bc7e;
}

.qa-content {
    transform: rotateY( 180deg);
}

.java-card {
    grid-area: 7/5/9/9;
}

.java-preview {
    background-color: #cf3d50;
}

.dot-net-card {
    grid-area: 4/9/10/14;
}

.dot-net-preview {
    background-color: #5c2873;
}

.event-card {
    grid-area: 4/14/6/17;
}

.event-preview {
    background-color: #4d99f7;
    font-size: x-large;
}

.event-content {
    font-weight: normal;
    font-size: medium;
    overflow: auto;
    max-height: 100%;
}

.event-content::-webkit-scrollbar {
    width: .5em;
}

.event-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

.event-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

.blog-card {
    grid-area: 6/14/8/17;
}

.blog-preview {
    background-color: #18449d;
    font-size: x-large;
}

.blog-content {
    font-weight: normal;
    font-size: medium;
}

.contacts-card {
    grid-area: 8/14/9/17;
}

.contacts-preview {
    background-color: #08265a;
    font-size: x-large;
}

.contacts-content {
    display: flex;
}

.slide-card {
    position: relative;
}

.slide-right-front-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.slide-card:hover .slide-right-front-card {
    width: 0%;
    left: 100%;
}

.slide-right-bottom-corner-front-card {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.slide-card:hover .slide-right-bottom-corner-front-card {
    height: 0%;
    bottom: 0%;
    width: 0%;
    right: 0%;
}

.slide-right-top-corner-front-card {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.slide-card:hover .slide-right-top-corner-front-card {
    height: 0%;
    top: 0%;
    width: 0%;
    right: 0%;
}

.slide-down-front-card {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.slide-card:hover .slide-down-front-card {
    height: 0%;
    bottom: 0%;
}

.contacts-content {
    justify-content: center;
    align-content: center;
}

a.fa {
    font-size: xx-large;
    color: black;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
}

a.fa:hover {
    color: blue;
}


/* MESSAGES */

#messages {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 14%;
    z-index: 1;
}

.message {
    display: flex;
    color: white;
    font-size: medium;
    border-radius: 4%;
    margin-bottom: 2%;
    padding-left: 2%;
    opacity: .75;
    align-items: center;
}

.message:hover {
    opacity: 1;
}

.message-icon {
    font-size: x-large;
}

.message-content {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.message-title {
    font-weight: bolder;
}

.warning-message {
    background: orange;
}

.success-message {
    background: green;
}

.danger-message {
    background: red;
}


/* FOOTER */

#footer {
    height: 6em;
    bottom: 0;
    width: 100%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/* Media Queries */

@media screen and (max-width: 1040px) {
    .card-preview {
        font-size: 2em;
    }
    .card-content {
        font-size: medium;
        padding: 2%;
    }
    a.fa {
        font-size: medium;
    }
    #messages {
        width: 25%;
    }
}

@media screen and (max-width: 782px) {
    .card-preview {
        font-size: 1em;
    }
    .card-content {
        font-size: x-small;
        overflow: auto;
    }
    a.fa {
        font-size: x-small;
    }
    #join-btn {
        width: 50%;
    }
    #messages {
        width: 50%;
        bottom: 1%;
    }
}

@media screen and (max-width: 576px) {
    #content {
        grid-template-columns: repeat(16, 1.2em);
        grid-template-rows: repeat(8, 2.4em);
        margin: 0;
    }
    .card-preview {
        font-size: 1em;
    }
    .card-content {
        font-size: xx-small;
        overflow: auto;
    }
    a.fa {
        font-size: xx-small;
    }
    #join-btn {
        width: 75%;
    }
    #messages {
        width: 75%;
    }
}